
<form>
    <div id="logIn" style="width: 400px; margin: auto;">
        <p class="text-center">用户登录</p>
        <div class="form-group">
            <input type="text" class="form-control" name="username" id="UserName" placeholder="username">
            <span class="hint" id="user">请输入用户名</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="Password1" placeholder="Password">
            <span class="hint" id="pwd">请输入用户密码</span>
        </div>

        <button type="button" class="btn btn-primary " id="userLogIn" 
            style="height:36px; font-size:15px;  width:150px;">登录</button>
        
    </div>

</form>

